* {
    
}

body {
    display: block;
    flex-direction: column;
}
ul {
    list-style-type: none;
}

h2 {
    display: block;
    flex-direction: row;
}
a:link {
    color: red;
}
li {
    
}

/* The AWFULNESS that you need to style embedded audio files... 
And even then, it doesn't work properly.  
*/

.thwang {
  display: block;
  align-items: center;
  overflow: hidden;
  width: 40%;
  height: 2rem;
  position: relative;
  align-items: center;
  align-self: center;
}

audio::-webkit-media-controls-panel {
    background-color: red;
}


.charIcon {
    display: block;
    flex-direction: row;
    max-width: 150px;
}
.attackIcon {
    display: block;
    border: 2px solid red;
    max-width: 30px;
}



.funEvent {
    display: none;
}

.creepyText {
    color: red;
    font-size: 120%;
    text-shadow: 1px 1px 1px crimson;
}